bot_name=your-bot-name
bot_id=your-webhook-key
bot_token=your-token
bot_aes_key=your-aes-key
corp_id=your-corp-id

dify_api_url=https://your-dify-host/v1/chat-messages
dify_api_key=your-dify-api-key
# file_url_prefix=https://your-public-host/wecom_bot/file_storage/
